<h1>CCRS Show 1</h1>

<p><a href="/ccrs">Return to Index</a></p>

<p>ID: <%= @ccr.id %></p>
<p>Association Management ID: <%= @ccr.association_management_id %></p>
<p>Section: <%= @ccr.section %></p>
<p>Description: <%= @ccr.description %></p>
<p>Status: <%= @ccr.status %></p>
<p>Date Proposed: <%= @ccr.date_proposed %></p>
<p>Date Approved: <%= @ccr.date_approved %></p>
